<html>
   <body>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/pusher/7.1.1-beta/pusher.min.js"
         integrity="sha512-BPyqC/fsFB0wLkveLSwmEDvb8AHSezUQqCSL2mMieTTPvC4BfjIJIuLVH+4M6cRJFvYiwvdW1DKcVg77g4Mlrg=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer"
      ></script>
      <script type="text/javascript" src="\public\js\main.js"></script>
   </body>
</html>
