<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="description" content="Your description goes here" />
      <meta name="keywords" content="one, two, three" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <title>SimpleWorx</title>

      <!-- external CSS link -->
      <link rel="stylesheet" href="css/normalize.css" />
      <link rel="stylesheet" href="css/style.css" />

      <!-- font awesome -->
      <script
         src="https://kit.fontawesome.com/cab467bb3d.js"
         crossorigin="anonymous"
      ></script>
      <!-- fonts -->
      <link
         href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500;700&display=swap"
         rel="stylesheet"
      />
   </head>
   <body id="signupPage">
      <section class="mainContainer">
         <section class="employee darkMode flex">
            <img class="logo" src="/images/default-monochrome.svg" alt="">
            </img>            
            <section class="flex">
               <a href="/" class="darkMode"><i class="fa-solid fa-house"></i></a>
               <a href="/login" class="logout">Login</a>
            </section>
            <section>
               <p>Dark Mode</p>
               <input type="checkbox" id="switch" class="checkbox" />                 
               <label for="switch" class="toggle">
               </label>
            </section>
         </section>
         <section class="main flex">
            <section>
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST">
                  <input type="text" name="firstName" placeholder="First Name">
                  <input type="text" name="lastName" placeholder="Last Name">
                  <input type="text" name="title" placeholder="Job Title">
                  <input type="text" name="department" placeholder="Department">
                  <input type="text" name="userName" placeholder="User Name">
                  <input type="email" name="email" placeholder="Email">
                  <input type="password" name="password" placeholder="Password">
                  <input type="password" name="confirmPassword" placeholder="Confirm Password">
                  <input type="submit">
                </form>
            </section>
         </section>
      </section>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/7.1.1-beta/pusher.min.js" integrity="sha512-BPyqC/fsFB0wLkveLSwmEDvb8AHSezUQqCSL2mMieTTPvC4BfjIJIuLVH+4M6cRJFvYiwvdW1DKcVg77g4Mlrg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script type="text/javascript" src="js/main.js"></script>
   </body>
</html>
