<%- include('partials/header') -%>
<section class="mainContainer">
   <section class="main flex">
      <ul class="organization flex">
         <li class="flex user">
            <span class="picContainer"
               ><img src="\images\headshot.png" alt="" class="pic"
            /></span>
            <section class="flex">
               <span>Danielle Rader</span>
               <span>Electronic Technician</span>
            </section>
         </li>
         <div class="reportsTo flex">
            <div class="line"></div>
         </div>
         <h3 class="reports">Reports To</h3>
         <li class="flex user">
            <span class="picContainer"
               ><img src="\images\headshot.png" alt="" class="pic"
            /></span>
            <section class="flex">
               <span>Danielle Rader</span>
               <span>Electronic Technician</span>
            </section>
         </li>
         <div class="reportsTo flex">
            <div class="line"></div>
         </div>
         <h3 class="reports">Crew Supervisors</h3>
         <li class="supervisors flex">
            <ul class="supervisors flex">
               <ul class="canDept">
                  <li class="flex user">
                     <span class="picContainer"
                        ><img src="\images\headshot.png" alt="" class="pic"
                     /></span>
                     <section class="flex">
                        <span>Danielle Rader</span>
                        <span>Electronic Technician</span>
                     </section>
                  </li>
                  <div class="reportsTo flex">
                     <div class="line"></div>
                  </div>
                  <h3 class="reports">Dept Leads</h3>
                  <ul class="leads">
                     <li class="flex user">
                        <span class="picContainer"
                           ><img src="\images\headshot.png" alt="" class="pic"
                        /></span>
                        <section class="flex">
                           <span>Danielle Rader</span>
                           <span>Electronic Technician</span>
                        </section>
                     </li>
                     <li class="flex user">
                        <span class="picContainer"
                           ><img src="\images\headshot.png" alt="" class="pic"
                        /></span>
                        <section class="flex">
                           <span>Danielle Rader</span>
                           <span>Electronic Technician</span>
                        </section>
                     </li>
                     <li class="flex user">
                        <span class="picContainer"
                           ><img src="\images\headshot.png" alt="" class="pic"
                        /></span>
                        <section class="flex">
                           <span>Danielle Rader</span>
                           <span>Electronic Technician</span>
                        </section>
                     </li>
                  </ul>
               </ul>
               <ul class="endDept">
                  <li class="flex user">
                     <span class="picContainer"
                        ><img src="\images\headshot.png" alt="" class="pic"
                     /></span>
                     <section class="flex">
                        <span>Danielle Rader</span>
                        <span>Engineer - Manufacturing III</span>
                     </section>
                  </li>
                  <div class="reportsTo flex">
                     <div class="line"></div>
                  </div>
                  <h3 class="reports">Dept Leads</h3>
                  <ul class="leads">
                     <li class="flex user">
                        <span class="picContainer"
                           ><img src="\images\headshot.png" alt="" class="pic"
                        /></span>
                        <section class="flex">
                           <span>Danielle Rader</span>
                           <span>Electronic Technician</span>
                        </section>
                     </li>
                     <li class="flex user">
                        <span class="picContainer"
                           ><img src="\images\headshot.png" alt="" class="pic"
                        /></span>
                        <section class="flex">
                           <span>Danielle Rader</span>
                           <span>Electronic Technician</span>
                        </section>
                     </li>
                     <li class="flex user">
                        <span class="picContainer"
                           ><img src="\images\headshot.png" alt="" class="pic"
                        /></span>
                        <section class="flex">
                           <span>Danielle Rader</span>
                           <span>Electronic Technician</span>
                        </section>
                     </li>
                  </ul>
               </ul>
            </ul>
         </li>
      </ul>
      <section class="employeeSummary">
         <h1>Employee summary</h1>
      </section>
   </section>
</section>
<%- include('partials/footer') -%>
